<!DOCTYPE html>
<body>
    <h1>Tume Marenk</h1>

    <h2>Who am I</h2>
        <p>I am a 21-year old second year Computer Science student at the University of Helsinki. I am originally from Tampre, but
        moved to Helsinki to study.</p>

    <h2>My interest</h2>
        <p>It shouldn't come as a suprise that I like computers. I started building computers when I was around 14-years old. This
        facination with computer hardware later turned into a burning passion for software, which eventually lead to me starting my studies</p>
        
        <p>I enjoy gaming and a variety of different genres. I like strategy games like Civilazitaion, but also First person shooter games.
        Although nothing compares to Pokémon. To this day a pokemon fan and enjoy them a lot.</p>

        <p>I like exercising. As a child, I did swimming competitively and later kayaking. Now, I still kayak in the summers, but I also go to the gym.</p>

    <h2>Links</h2>
    <a href=https://github.com/T-Marenk>My github</a>
</body>
